@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");


html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  --font-body: "Inria Sans", system-ui, -apple-system, BlinkMacSystemFont,
  "SF Pro Text", sans-serif;
}
